.user-account-container{
    margin: 1rem auto;
    max-width: 90%;
    text-align: center;
}

.user-account-heading{
    padding: 1rem 0;
}

.account-wrapper{
    max-width: 25rem;
    height: max-content;
    margin: 1rem auto;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.account-wrapper .account-tabs{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #c0c0c0;
}

.account-wrapper .account-tabs > *{
    flex: 1 1;
    text-align: center;
    padding: 0.75rem 1rem;
}

.account-wrapper .account-tabs .active-tab{
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

.account-wrapper .account-data{
    margin: 1rem;
    text-align: start;
}

@media screen and (min-width: 768px) {
    .account-wrapper{
        max-width: 30rem;
    }
}

@media screen and (min-width: 1024px) {
    .account-wrapper{
        max-width: 38rem;
    }
}