.order-details-container{
    border-radius: 5px;
    height: max-content;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.order-details-container .order-items-wrapper{
    padding: 0.5rem;
}

.order-details-container .title{
    text-align: center;
    padding: 0.25rem 0;
    font-size: 1.1rem;
    font-weight: bold;
    border-bottom: 1px solid #c0c0c0;
}

.order-details-container .title:first-of-type{
    margin-top: 0.5rem;
}

.order-details-container .item{
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    margin-bottom: 0.25rem;
}

.order-details-container .address-wrap{
    font-size: 0.9rem;
}

.order-details-container .place-order-btn{
    margin: 1rem 0.5rem;
    font-size: 1.1rem;
    width: -webkit-fill-available;
    padding: 0.2rem 0;
    border-radius: 4px;
    border: 1px solid (--secondary-color);
    background-color: var(--secondary-color);
    color: white;
    border: none;
}

.order-details-container .place-order-btn:hover{
    background-color: var(--primary-color);
    cursor: pointer;
}

.grand-total{
    font-weight: bold;
}


