.form{
    max-width: 90%;
    padding: 2rem;
    border-radius: 5px;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-header h2{
    font-size: 1.75rem;
    font-weight: 600;
    color: #232836;
    text-align: center;
}

form{
    margin-top: 0.8rem;
}

form .field{
    height: 2.25rem;
    width: 100%;
    margin-top: 0.8rem;
    position: relative;
}

.field input,
.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 5px;
}

.field input{
    padding: 0 0.9rem;
    border: 1px solid #cacaca;
}

.signup-btn,
.login-btn{
    background-color: var(--secondary-color);
    color: white;    
}

.signup-btn-disabled{
    background-color: var(--secondary-color);
    color: white;
    margin-top: 0.5rem;
    cursor: not-allowed;
    opacity: 0.5;
}

.signup-btn:hover,
.login-btn:hover{
    cursor: pointer;
    background-color: var(--primary-color);
}

.guest-login-btn{
    background-color: white;
    outline: 1px solid var(--secondary-color);
    color: var(--secondary-color);
}

.guest-login-btn:hover{
    background-color: var(--secondary-color);
    color: white;
    outline: none;
    cursor: pointer;
}

.form-link{
    margin-top: 0.5rem;
}

.form-link span{
    font-size: 0.8rem;
    font-weight: 400;
}

.form-link .link{
    color: var(--primary-color);
    font-size: 0.9rem;
    font-weight: bold;
}

.form-link .link:hover{
    cursor: pointer;
    text-decoration: underline;
}

.eye-icon{
    font-size: 1rem;
    position: absolute;
    top: 50%;
    right: 0.6rem;
    color: #8b8b8b;
    transform: translateY(-50%);
    padding: 0.15rem;
    cursor: pointer;
}

.input-error-msg{
    color: var(--danger-color);
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
}

@media screen and (min-width: 570px ) {
    .form{
        max-width: 80%;
    }
}

@media screen and (min-width: 768px ) {
    .form{
        max-width: 60%;
    }
}

@media screen and (min-width: 1024px ) {
    .form{
        max-width: 35%;
    }
}