.category-outer-container{
    padding: 0.2rem 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.category-outer-container h1{
    padding: 0.3rem 1.5rem;
    font-size: 1.4rem;
    border-radius: 10px;
}
.category-outer-container .section-text-headings{
    padding: 0.5rem 1rem 0 1rem ;
    font-size: 0.8rem;
}
.category-cards{
    margin: 0.5rem 0;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.category-card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
}
.category-card-container p{
    align-self: center;
}
.category-card{
    width: 7.5rem;
    height: 7.5rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 50%;
    transition: transform 0.4s;
}
.category-card img{
    object-fit: fill;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
@media(min-width: 768px){
    .category-outer-container{
        padding: 0.3rem;
    }
    .category-outer-container h1{
        font-size: 1.7rem;
    }
    .category-outer-container .section-text-headings{
        font-size: 1rem;
    }
    .category-cards{
        margin-top: 1rem;
        width: 80%;
        gap: 4rem;
    }
    .category-card:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
}
@media(min-width: 1024px){
    .category-outer-container{
        padding: 1rem;
    }
    .category-outer-container h1{
        font-size: 1.9rem;
    }
    .category-cards{
        margin-top: 1rem;
        width: 80%;
        gap: 4rem;
    }
    .category-card{
        width: 12rem;
        height: 12rem;
    }
}