.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 16rem;
  overflow: hidden;
  position: relative;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.sale {
  padding: 0.1rem 0.8rem;
  position: absolute;
  top: 0;
  background-color: var(--yellow-color);
  border-radius: 2px;
}
.wishlist-btn {
  padding: 0.2rem 0.3rem 0 0.3rem;
  position: absolute;
  top: 0;
  right: 0;
}
.product-img {
  width: 100%;
  height: 14rem;
  transition: transform 0.5s;
  overflow: hidden;
}
.product-img img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.product-img:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.card-details {
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
}
.card-details h3 {
  padding-bottom: 0.2rem;
  font-size: 1rem;
}
.star {
  display: flex;
  align-items: center;
}
.star svg {
  color: var(--yellow-color);
}
.star-value {
  color: var(--secondary-color);
}
.price-delivery-tags {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.prices {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  color: var(--secondary-color);
}
.old-price {
  font-size: small;
  text-decoration: line-through;
  color: var(--text-secondary-color);
}
.new-price {
  font-weight: bold;
}
.delivery {
  color: blue;
}
.card-details button {
  margin: 0.5rem 0 0 0;
  padding: 0.3rem 0;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  text-transform: uppercase;
  border-radius: 2px;
}
.card-details .add-to-cart-btn:hover {
  background-color: white;
  outline: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  cursor: pointer;
  font-weight: bold;
}

.product-card .out-of-stock-tag div {
  margin: 1rem;
  padding: 0.2rem 3rem;
  width: -webkit-fill-available;
  border: none;
  border-radius: 2px;
  text-align: center;
  color: white;
  background-color: var(--secondary-color);
  text-transform: uppercase;
}

.product-card .out-of-stock-tag div:hover {
  background-color: var(--primary-color);
}

.product-card .out-of-stock-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
  background-color: rgba(168, 168, 168, 0.5);
}

.wishlist-fav-icon {
  color: red;
}

.wishlist-btn:hover {
  cursor: pointer;
  color: red;
}

@media (min-width: 768px) {
  .product-card {
    width: 15.5rem;
  }
}
