.App{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

::-webkit-scrollbar {
    width: 0.2rem;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    margin-block: 0.25em;
    /* background: var(--secondary-color); */
}
  
::-webkit-scrollbar-thumb {
    background: var(--price-color);
    border-radius: 5px;
}
  
@supports (scrollbar-color: red blue) {
    * {
      scrollbar-color: var(--secondary-color) var(--header-color);
      scrollbar-width: thin;
    }
}
