.App{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.page-wrapper{
    flex-grow: 1;
}

body::-webkit-scrollbar {
    width: 0.4rem;
}

body::-webkit-scrollbar-track {
    border-radius: 5px;
    margin-block: 0.25em;
    background: var(--ternary-color);
}
  
body::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 5px;
}
  
@supports (scrollbar-color: red blue) {
    * {
      scrollbar-color: var(--ternary-color) var(--header-color);
      scrollbar-width: thin;
    }
}
