.slider-container{
    width: 100%;
    min-height: 18rem;
    padding: 0.2rem;
    border-radius: 0.3rem;
    position: relative;
}
.slider-container img{
    width: 100%;
    height: 100%;
    border-radius: 0.3rem;
    object-fit: fill;
}
.slider-container .slider-btn{
    padding: 0.5rem 1.5rem;
    position: absolute;
    top: 14.5rem;
    left: 8rem;
    border-radius: 0.4rem;
    border: none;
    background-color: var(--primary-color);
    color: white;
}
@media(min-width: 768px){
    .slider-container{
        min-height: 25rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
    }
    .slider-container img{
        border-radius: 0.5rem;
    }
    .slider-container .slider-btn{
        padding: 0.8rem 1.8rem;
        top: 20rem;
        left: 21rem;
        font-size: 1.1rem;
    }
    .slider-btn:hover{
        transition: 0.4s; 
        scale: 1.11;
        cursor: pointer;  
    }
    
}
@media(min-width: 1024px){
    .slider-container{
        min-height: 32rem;
        padding: 0.5rem;
        border-radius: 0.8rem;
    }
    .slider-container img{
        border-radius: 0.8rem;
    }
    .slider-container .slider-btn{
        top: 26.5rem;
        left: 38rem;
        color: white;
    }
}